---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getDateForTimeTag } from "@shared/utils/dates.util";
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;
const post = Astro.props;
const { Content } = await post.render();

const { dateDisplay, datetime } = getDateForTimeTag(post.data.pubDate);

const content = Astro.props.body ?? Astro.props.rawContent();
const wordCount = post.data.title.concat(content).split(" ").length;
const readingTimeMinutes = Math.floor(wordCount / 183);
---

<BaseLayout
  pageTitle={`${post.data.title} | Jose Andrés`}
  pageDescription={post.data.description}
>
  <h1>{post.data.title}</h1>
  <ul class="subheader">
    <li>
      <time datetime={datetime}>
        {dateDisplay}
      </time>
    </li>
    <li class="divider"></li>
    <li>
      {readingTimeMinutes} minutes
    </li>
  </ul>

  <article class="post-wrapper">
    <Content />
  </article>
</BaseLayout>

<style is:global>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 2;
  }
</style>

<style>
  h1 {
    text-align: center;
  }

  .post-wrapper {
    width: 42em;
  }

  .subheader {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 0.25rem;
  }

  .subheader * {
    color: #c0c0c0;
  }

  .divider {
    border: 1px solid #c0c0c0;
    margin: 0px 2rem;
  }
</style>
