---
import Button from "@components/Button.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const pageTitle = "Jose Andrés' Blog";

const restOfPosts = (await getCollection("blog")).sort(
  (b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
const newestPost = restOfPosts.shift();

const displayDate = (date: Date) =>
  new Intl.DateTimeFormat("local", {
    dateStyle: "long",
  }).format(date);
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>

  {
    newestPost ? (
      <section class="posts-container">
        <article>
          <Button
            class="newest-post post-button"
            buttonType="secondary"
            href={`/blog/${newestPost.slug}`}
          >
            <h2>{newestPost.data.title}</h2>
            <p>{newestPost.data.description}</p>
            <span class="date-published">
              {displayDate(newestPost.data.pubDate)}
            </span>
          </Button>
        </article>

        <section class="rest-of-posts">
          {restOfPosts.map((post) => (
            <article>
              <Button
                buttonType="secondary"
                class="post-button"
                href={`/blog/${post.slug}`}
              >
                <h2>{post.data.title}</h2>
                <p>{post.data.description}</p>
                <span class="date-published">
                  {displayDate(post.data.pubDate)}
                </span>
              </Button>
            </article>
          ))}
        </section>
      </section>
    ) : (
      <p>No entries</p>
    )
  }
</BaseLayout>

<style>
  h1 {
    font-size: var(--fontSize4);
    margin-bottom: 3rem;
  }

  .posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .post-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    text-align: left;
  }

  .newest-post {
    width: 28rem;
    height: 16rem;
  }
  .newest-post h2 {
    font-size: var(--fontSize2);
  }

  /* Rest of posts */

  .rest-of-posts h2 {
    font-size: var(--fontSize1);
  }

  .date-published {
    opacity: 0.75;
  }

  .rest-of-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
  }

  .rest-of-posts > article > .post-button {
    height: 16rem;
  }
</style>
