---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const pageTitle = "Jose Andrés' Blog";

const restOfPosts = (await getCollection("blog")).sort(
  (b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
const newestPost = restOfPosts.shift();

const displayDate = (date: Date) =>
  new Intl.DateTimeFormat("local", {
    dateStyle: "full",
  }).format(date);
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>

  {
    newestPost ? (
      <section class="posts-container">
        <article class="post-card newest-post">
          <h2>{newestPost.data.title}</h2>
          <p>{newestPost.data.description}</p>
          <span class="date-published">
            {displayDate(newestPost.data.pubDate)}
          </span>
        </article>

        <section class="rest-of-posts">
          {restOfPosts.map((blog) => (
            <article class="post-card">
              <h2>{blog.data.title}</h2>
              <p>{blog.data.description}</p>
              <span class="date-published">
                {displayDate(newestPost.data.pubDate)}
              </span>
            </article>
          ))}
        </section>
      </section>
    ) : (
      <p>No entries</p>
    )
  }
</BaseLayout>

<style>
  h1 {
    font-size: var(--fontSizeBig);
    margin-bottom: 3rem;
  }

  .posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .post-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    border-radius: var(--borderRadius);
    padding: 1.5rem;
  }

  .newest-post {
    width: 30rem;
    height: 20rem;
  }
  .newest-post > h2 {
    font-size: var(--fontSizeMedium);
  }

  .rest-of-posts > article > h2 {
    font-size: var(--fontSizeRegular);
  }

  .date-published {
    opacity: 0.75;
  }

  .rest-of-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
</style>
